<title> Owner</title>



<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{>owner-sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Add Movie</h1>

                    <div class="row">

                        <div class="col-lg-11">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                </div>
                                <div class="message p-3">
                                    {{#if addMovieSucc}}
                                    <div class="alert alert-success" role="alert">
                                        {{addMovieSucc}}
                                    </div>
                                    {{/if}}
                                    {{#if addMovieErr}}
                                    <div class="alert alert-danger" role="alert">
                                        {{addMovieErr}}
                                    </div>
                                </div>
                                {{/if}}
                                <form action="/owner/add-movie" id="submit-form" method="post"
                                    enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div class="movie-box form-group mt-3 col-md-10">
                                            <label for="movietitle">Movie Title</label>
                                            <input style="border-color:#b4e3eb;" type="text" onkeyup="getMoviesList()"
                                                class="form-control col-md-12 mt-2" id="movietitle" name="movietitle"
                                                required>
                                            <div style="display:none ; cursor: pointer;" class="autocomplete "
                                                id="autocomplete">
                                                <div class="text-center m-2 text-dark">
                                                    Movie not found
                                                </div>

                                            </div>
                                        </div>
                                        <span style="margin-left: 13px; color: green;" id="check_availability_movie"
                                            style="font-size:12px;"></span>
                                        <span style="margin-left: 13px; color:red;" id="check_not_movie"
                                            style="font-size:12px;"></span>



                                        <div style="display:none ;" id="movie-details"
                                            class="text-center movie-details">
                                            <label style="font-size: 20px;color: black;font-weight: 600"
                                                for="Cast">Actors</label>
                                            <div style="overflow: scroll; height: 400px;" class="row m-1" id="cast">
                                                {{!-- <div class="form-group mt-1 col-md-5">
                                                    <label for="Cast">Cast</label>
                                                    <a class="text-white m-1 btn btn-danger" id="remove"
                                                        onclick="removeElement()">-</a>
                                                    <a class="text-white m-1 btn btn-success" id="add"
                                                        onclick="addElement()">+</a>
                                                    <input style="border-color:#b4e3eb;" type="text"
                                                        class="form-control col-md-12 mt-2" id="cast" name="cast"
                                                        required>
                                                </div> --}}
                                                <div class="form-group mt-5 col-md-5">
                                                    <input style="border-color:#b4e3eb;" type="text"
                                                        class="form-control col-md-12 mt-2" id="castas" name="castas"
                                                        required>
                                                </div>
                                            </div>


                                            <div class="form-group mt-3 col-md-10">
                                                <label for="Director">Director</label>
                                                <input style="border-color:#b4e3eb;" type="text"
                                                    class="form-control col-md-12 mt-2" id="director" name="director"
                                                    required>
                                            </div>
                                            <div class="form-group mt-3 col-md-10">
                                                <label for="Release Date">Release Date</label>
                                                <input style="border-color:#b4e3eb;" type="date"
                                                    class="form-control col-md-12 mt-2" id="releasedate"
                                                    name="releasedate" required>
                                            </div>
                                            <input type="text" name="imdbid" id="imdbid"  style="display:none ;">
                                            <div class="row m-1">
                                                <div class="form-group mt-3 col-md-5">
                                                    <label for="Run Time">Run Time</label>
                                                    <input style="border-color:#b4e3eb;" type="number"
                                                        class="form-control col-md-12 mt-2" id="hour" name="hour"
                                                        placeholder="Hour" required>
                                                </div>
                                                <div class="form-group mt-5 col-md-5">
                                                    <input style="border-color:#b4e3eb;" type="number"
                                                        class="form-control col-md-12 mt-2" id="minute" name="minute"
                                                        placeholder="Minute" required>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3 col-md-10">
                                                <label for="Language">Language</label>
                                                <input style="border-color:#b4e3eb;" type="text"
                                                    class="form-control col-md-12 mt-2" id="language" name="language"
                                                    required>
                                            </div>
                                            <div class="form-group mt-3 col-md-10">
                                                <label for="Type">Type</label>
                                                <input style="border-color:#b4e3eb;" type="text"
                                                    class="form-control col-md-12 mt-2" id="type" name="type" required>
                                            </div>
                                            <div class="form-group mt-3 col-md-10">
                                                <label for="Type">About the movie</label>
                                                <textarea style="border-color:#b4e3eb;" type="text"
                                                    class="form-control col-md-12 mt-2" id="about" name="about"
                                                    required> </textarea>
                                            </div>
                                            <div class="form-group mt-3 col-md-10">
                                                <label for="Trailer Link">Trailer Link</label>
                                                <input style="border-color:#b4e3eb;" type="text"
                                                    class="form-control col-md-12 mt-2" id="trailerlink"
                                                    name="trailerlink" required>
                                            </div>
                                            <div class="form-group mt-3 col-md-10">
                                                <label for="Trailer Link">Movie Poster</label>
                                                <img src="" id="imgView" height="250px" width="150px"
                                                    style=" object-fit: cover;">
                                                {{!-- <input style="border-color:#b4e3eb;" type="file" id="posterfile"
                                                    class="form-control col-md-12 mt-2" name="Image"
                                                    onchange="viewImage(event)" required> --}}
                                            </div>
                                            <div class="form-group mt-3 col-md-10">
                                                <label for="Trailer Link">Banner </label>
                                                <img src="" id="bannerImg" height="200px" width="400px"
                                                    style=" object-fit: cover;">
                                                {{!-- <input style="border-color:#b4e3eb;" type="file" id="banner"
                                                    class="form-control col-md-12 mt-2" name="Image2"
                                                    onchange="banner(event)" required> --}}
                                            </div>
                                            <center>
                                                <a href="/owner/movie-management"
                                                    class="btn btn-danger  mt-3 mr-2 ">Cancel</a>
                                                <button type="submit" id="submit"
                                                    class="btn btn-success  mt-3">Submit</button>
                                            </center>
                                        </div>
                                    </div>
                                </form>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>

</body>

{{!-- autocomplete --}}
<style>
    .autocomplete {
        border-radius: 5px;
        padding: 16px;
        padding-left: 10px;
        box-shadow: 2px 2px 9px #b3b3b3;
        height: 100%;
        max-height: 280px;
        display: block;
        overflow: scroll;

    }

    .autocomplete::-webkit-scrollbar {
        display: none;
    }


    .movies-list:hover {
        background-color: #efefef;
    }

    .castimage {
        height: 150px;
        border-radius: 50%;
        width: 150px;
        object-fit: cover;
        object-position: top;
    }
</style>

<script>
    function checkMovieAvailability() {
        let movietitle = $("#movietitle").val();

        $.ajax({
            url: '/owner/movie-avilability/' + movietitle,
            method: 'get',
            success: (response) => {

                if (response.status) {
                    document.getElementById('check_availability_movie').innerHTML = ' '
                    document.getElementById('submit').disabled = true
                    document.getElementById('check_not_movie').innerHTML = ' Movie already exists'



                } else {
                    document.getElementById('check_not_movie').innerHTML = ''
                    document.getElementById('submit').disabled = false
                    document.getElementById('check_availability_movie').innerHTML = '  Available '
                }

            }
        })
    }


    $(document).ready(function () {
        $("#movietitle").keyup(checkMovieAvailability);
    });
</script>

<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }

    function banner(event) {
        document.getElementById('bannerImg').src = URL.createObjectURL(event.target.files[0])
    }
</script>

<script>
    function getMoviesList() {
        let autocomplete = document.getElementById('autocomplete');
        let moviename = document.getElementById('movietitle').value;
        let castDetails;
        let movietrailer;
        if (moviename.length > 0) {
            autocomplete.innerHTML = "";
            autocomplete.style.display = 'block';


            fetch(`https://api.themoviedb.org/3/search/movie?api_key=00a55f69b6879e4f888721dcec3ad3c7&language=en-US&query=${moviename}&page=1&include_adult=false`)
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    let movies = data.results;
                    if (movies.length > 0) {
                        movies.forEach((movie) => {
                            createElement(movie);
                        })
                    } else {
                        errorElement();
                    }

                })
                .catch(() => {
                    hideAutoComplete()
                })
        } else {
            hideAutoComplete();
        }

        function createElement(movie) {
            const div = document.createElement('div');
            div.innerHTML = movie.original_title;
            div.id = movie.id;
            div.onclick = getMovieId;
            div.className = 'mt-2 pl-2 movies-list text-dark';
            autocomplete.append(div);
        }
        function errorElement() {
            const div = document.createElement('div');
            div.innerHTML = "Movie not found"
            div.className = 'mt-2 pl-2 movies-list text-center text-dark';
            autocomplete.append(div);
        }

        function hideAutoComplete() {
            autocomplete.style.display = 'none';
        }
        function getMovieId(event) {
            console.log(event.target.id)
            const movieid = event.target.id;
            fetch(`https://api.themoviedb.org/3/movie/${movieid}?api_key=00a55f69b6879e4f888721dcec3ad3c7&language=en-US`)
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    getMovieDetails(data);

                })

        }
        async function getMovieDetails(data) {
            let castDetails = await getCastDetails(data.imdb_id);
            console.log(castDetails);

            let movieTrailer = await getMovieTrailer(data.imdb_id);
            console.log(movieTrailer);

            setData(data, castDetails, movieTrailer);
            addElement(castDetails);
        }
        function getCastDetails(imdbid) {
            return new Promise((resolve, rejects) => {
                fetch(`https://imdb-api.com/API/FullCast/k_iu0fhi2q/${imdbid}`)
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {
                        resolve(data)
                    })
            })
        }
        function getMovieTrailer(imdbid) {
            return new Promise((resolve, rejects) => {
                fetch(`https://imdb-api.com/API/YouTubeTrailer/k_iu0fhi2q/tt11651550`)
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {
                        resolve(data)
                    })
            })
        }
        async function setData(data, castDetails, movieTrailer) {
            hideAutoComplete();
            let movieDetails = document.getElementById('movie-details');
            let movieTitle = document.getElementById('movietitle');
            let director = document.getElementById('director');
            let releasedate = document.getElementById('releasedate');
            let hour = document.getElementById('hour');
            let minute = document.getElementById('minute');
            let language = document.getElementById('language');
            let type = document.getElementById('type');
            let about = document.getElementById('about');
            const moviePoster = document.getElementById("imgView");
            const posterfile = document.getElementById('posterfile');
            const bannerImg = document.getElementById('bannerImg');
            const trailerlink = document.getElementById('trailerlink');
             document.getElementById('imdbid').value = data.imdb_id;


            movieTitle.value = data.title;
            movieDetails.style.display = 'block';
            director.value = castDetails.directors.items[0].name;
            releasedate.value = data.release_date;
            runTime = await timeConvert(data.runtime);
            hour.value = runTime.rhours;
            minute.value = runTime.rminutes;
            language.value = data.original_language;
            type.value = data.genres[0].name;
            about.value = data.overview;
            trailerlink.value = `<iframe width="560" height="315" src="${movieTrailer.videoUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
            moviePoster.src = `https://image.tmdb.org/t/p/original/${data.poster_path}`;
            bannerImg.src = `https://image.tmdb.org/t/p/original/${data.backdrop_path}`;




        }
        function timeConvert(min) {
            var num = min;
            var hours = (num / 60);
            var rhours = Math.floor(hours);
            var minutes = (hours - rhours) * 60;
            var rminutes = Math.round(minutes);
            return { rhours, rminutes };
        }
        function addElement(castDetails) {
          
            let conunt = 0;
            document.getElementById("cast").innerHTML = "";
            castDetails.actors.forEach((data) => {
                console.log(data)

                conunt = conunt + 1

                var x = document.createElement("DIV");
                x.setAttribute("class", "form-group mt-5 col-md-5");
                x.setAttribute("id", conunt);
                document.getElementById("cast").appendChild(x);

                let castImage = document.createElement("img");
                castImage.src = data.image;
                castImage.setAttribute('class', 'castimage')
                x.appendChild(castImage);



                var label = document.createElement("LABEL");
                label.setAttribute("id", "cast" + conunt);
                document.getElementById(conunt).appendChild(label)
                document.getElementById('cast' + conunt).innerHTML = "Cast" + conunt

                var input = document.createElement("INPUT");
                input.setAttribute("type", "text");
                input.value = data.name;
                input.setAttribute("class", "form-control col-md-12 mt-2");
                document.getElementById(conunt).appendChild(input)

                var input = document.createElement("INPUT");
                input.setAttribute("type", "text");
                input.value = data.asCharacter;
                input.setAttribute("class", "form-control col-md-12 mt-2");
                document.getElementById(conunt).appendChild(input)
            })

        }
    }
</script>


<script>
    f = 1
    function addElement() {

        f = f + 1

        var x = document.createElement("DIV");
        x.setAttribute("class", "form-group mt-5 col-md-5");
        x.setAttribute("id", f);
        document.getElementById("cast").appendChild(x);

        var label = document.createElement("LABEL");
        label.setAttribute("id", "cast" + f);
        document.getElementById(f).appendChild(label)
        document.getElementById('cast' + f).innerHTML = "Cast" + f

        var input = document.createElement("INPUT");
        input.setAttribute("type", "text");
        input.setAttribute("name", "cast" + f);
        input.setAttribute("class", "form-control col-md-12 mt-2");
        document.getElementById(f).appendChild(input)

        var input = document.createElement("INPUT");
        input.setAttribute("type", "text");
        input.setAttribute("name", "castas" + f);
        input.setAttribute("class", "form-control col-md-12 mt-2");
        document.getElementById(f).appendChild(input)
        if (f == 6) {
            document.getElementById("add").disabled = true;
        }
    }

    function removeElement() {
        document.getElementById(f).remove();
        f = f - 1
        if (f <= 6) {
            document.getElementById("add").disabled = false;
        }

    }
</script>