 <title>SB Admin 2 - Forgot Password</title>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div style=" margin-top: 107px;" class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                    <p class="mb-4">We get it, stuff happens. Just enter your user name and  email address below and we'll send you a code  to  your Email!</p>
                  </div>
                  <form class="user" action="/owner/forgot-password" method="POST" >
                       <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="username" name="username" aria-describedby="username" placeholder="Enter User Name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <button  type="submit"  class="btn btn-primary btn-user btn-block">
                      Reset Password
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/owner"> Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


</body>