<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Create a draggable Marker</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
    type="text/css" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <style>
        .coordinates {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            position: absolute;
            bottom: 40px;
            left: 10px;
            padding: 5px 10px;
            margin: 0;
            font-size: 11px;
            line-height: 18px;
            border-radius: 3px;
            display: none;
        }
        #map{
              height: 70vh;
              width: 100vw;
        }
    </style>
    <div class="mapcontainer">
        <div id="map"></div>
    <pre id="coordinates" class="coordinates"></pre>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2xldmlubSIsImEiOiJja2o5d3VuamIxYnRtMnVtdDE0bGZpMmMyIn0.e-nFCYz07lSLxudc3VPbwA';
        

      
        var coordinates = document.getElementById('coordinates');
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
			center:[75.71163743921323, 13.206180273089672],
            zoom: 5
        });
        

        var marker = new mapboxgl.Marker({
			draggable: true
		})
			.setLngLat([75.71163743921323, 13.206180273089672])
			.addTo(map);

		function onDragEnd() {
			var lngLat = marker.getLngLat();
			coordinates.style.display = 'block';
			coordinates.innerHTML =
				'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
                 longitude=lngLat.lng
				latitude=lngLat.lat
		}

		marker.on('dragend', onDragEnd);
        map.addControl(
            new mapboxgl.GeolocateControl({
                draggable: true,
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        );

         const nav = new mapboxgl.NavigationControl();
            map.addControl(nav)

            var directions = new MapboxDirections({
                accessToken: mapboxgl.accessToken
               
            });

            {{!-- map.addControl(directions,'top-left') --}}
        
    </script>
    <center>
        <a style="margin-top: 650px; color: white; background-color: black;" href="/owner/settings" class="btn btn-success"> Back</a>
         <a style="margin-top: 650px; color: white;" onclick="submitLocation()" class="btn btn-success"> Submit</a></center>
    
    </div>
    
    

</body>

</html>
<script>
    function submitLocation() {
        $.ajax({
            url: '/owner/location',
            method: 'post',
			data:{longitude:longitude,latitude:latitude,},
            success: (response) => {
                if (response.status) {
                   window.location.href="/owner/settings"
                } else {
                    alert("Error")
                }
            }
        })
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>