<title>Owner</title>

<body class="bg-gradient-primary">
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        } 
    </script>
    <div class="container">

        <!-- Outer Row -->
        <div style=" margin-top: 107px;" class="row justify-content-center">

            <center>
                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div style="    width: 320px;" class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">

                            <!-- Nested Row within Card Body -->
                            <div class="row">

                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">New Password</h1>
                                        <p class="mb-4">Enter new password to your account </p>
                                    </div>
                                    <div class="text-center registrationFormAlert" style="color:green;"
                                        id="SuccessPasswordMatch"></div>
                                    <div class=" text-center registrationFormAlert" style="color:red;"
                                        id="ErrorPasswordMatch"></div>
                                    <form class="user" action="/owner/password-submit/{{ownerId}}" method="POST">
                                        <div class="form-group">
                                            <input style="border-color:#b4e3eb;" type="password"
                                                class="form-control col-md-12 mt-2" id="newpassword" name="newpassword"
                                                placeholder="New Password" required>
                                        </div>
                                        <div class="form-group">
                                            <input style="border-color:#b4e3eb;" type="password"
                                                class="form-control col-md-12 mt-2" id="confirmpassword"
                                                name="confirmpassword" placeholder="Confirm password" required>
                                        </div>
                                        <div class="form-group">
                                            <input class="ml-3" type="checkbox" onclick="myFunction()"> Show Password
                                        </div>
                                        <button type="submit" id="changePasswordSubmit"
                                            class="btn btn-primary btn-user btn-block">
                                            Submit
                                        </button>
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </div>

    </div>
    </center>


</body>
<script>
    function myFunction() {
        var x = document.getElementById("newpassword");
        var y = document.getElementById("confirmpassword");
        if (x.type === "password" && y.type === "password") {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password";
        }
    }

    function checkPasswordMatch() {
        var password = document.getElementById("newpassword");
        var confirmPassword = document.getElementById("confirmpassword");
        if (password != confirmPassword) { 
            $("#ErrorPasswordMatch").innerhtml("Passwords does not match!");
            $("#SuccessPasswordMatch").html(" ");
            $("#changePasswordSubmit").prop("disabled", true);
        }
        else {
            $("#SuccessPasswordMatch").html("Passwords match.");
            $("#ErrorPasswordMatch").html(" ");
            $("#changePasswordSubmit").prop("disabled", false);
        }
    }
    $(document).ready(function () {
        $("#confirmpassword").keyup(checkPasswordMatch);
    });

</script>