 <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Manage Theater
      </div>

      <!-- Nav Item - Theater Management -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/theater-manage">
          <i class="fas fa-fw fa-cog"></i>
          <span>Theater Management</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Manage User
      </div>

      <!-- Nav Item - user anagement -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fa fa-user"></i>
          <span>Users Management</span></a>
      </li>

      <!-- Nav Item - user activity -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fa fa-user"></i>
          <span>Users activity track</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->