<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book my show | Time</title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <!-- Template CSS -->
</head>

<body>
    <!-- header -->
    {{>user-header}}
    <!-- //header -->
    <!--/breadcrumbs -->
    <div class="w3l-breadcrumbs">
        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper">
                <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">Time</span>
            </div>
        </nav>
    </div>
    <!--//breadcrumbs -->
    <h3 class="text-center mt-4">Leave a Message</h3>
    <h3 class="text-center mt-4">Movie Title</h3>
    {{!-- Time --}}
    <section class="w3l-contact-1">
        <div class="contacts-9 py-5">




            <div class="d-grid contact-addres-inf mt-5 pt-lg-4">
                <div class="contact-info-left d-grid">

                    <div class="col-md-12 contact-info">
                        <div class="contact-details">
                            <h4>Theater Name:</h4>
                            <p>text text</p>
                        </div>
                        <br>

                        <div class="row p-2">
                            <div class="boxs col-md-12 col-lg-6">
                                <a class=" colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>

                            <div class="boxs col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="boxs col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="boxs col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 contact-info">
                        <div class="contact-details">
                            <h4>Theater Name:</h4>
                            <p>text text</p>
                        </div>
                        <br>

                        <div class="row p-2">
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>

                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 contact-info">
                        <div class="contact-details">
                            <h4>Theater Name:</h4>
                            <p>text text</p>
                        </div>
                        <br>

                        <div class="row p-2">
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>

                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 contact-info">
                        <div class="contact-details">
                            <h4>Theater Name:</h4>
                            <p>text text</p>
                        </div>
                        <br>

                        <div class="row p-2">
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>

                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 contact-info">
                        <div class="contact-details">
                            <h4>Theater Name:</h4>
                            <p>Location</p>
                        </div>
                        <br>

                        <div class="row p-2">
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>

                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </section>
    <!-- /contact1 -->
    <!-- footer-66 -->
    {{>user-footer}}
    <!-- copyright -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-arrow-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->

    </section>
    </footer>
    <!--//footer-66 -->
</body>

</html>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- Template JavaScript -->
<!--/theme-change-->
<script src="assets/js/theme-change.js"></script>
<!-- //theme-change-->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
<script src="assets/js/bootstrap.min.js"></script>

<style>
    .colorss {
        border-color: var(--theme-title);
        background-color: var(--theme-bg);
        color: green
    }
    .boxs{
        border-spacing: 15px;
    }
</style>