/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html, body{
	font-size: 100%;
    font-family: 'Overpass', sans-serif;
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
h1,h2,h3,h4,h5,h6,input,p,a,select,button{
	font-family: 'Overpass', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a{
	text-decoration:none;
}
/*-- main --*/
.agileits_copyright{
	text-align: center;
	margin-top:2em;
}
.agileits_copyright p{
	font-size: 1em;
    color:#fff;
    line-height: 1.8em;
    padding: 0 1em;
    text-transform: capitalize;
}
.agileits_copyright p a {
    color:#efd53b;
    text-decoration: underline;
}
.agileits_copyright p a:hover{
	color:#fff;
}
input[type="submit"],.agileits_copyright p a,a{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
.main{
	padding:3em 0;
}
.main h1{
	text-align: center;
    color: #fff;
    font-size:3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
	margin-bottom: .8em;
}
/*-- //main --*/
.w3_agile_main_grids{
	width:32%;
	margin:0 auto;
}
.agile_main_top_grid{
	padding:3em;
	background:#efd53b;
}
.agileits_w3layouts_main_top_grid_left{
	float:left;
}
.w3_agileits_main_top_grid_right{
	float:left;
	margin-left:8em;
}
.w3_agileits_main_top_grid_right h3{
	font-size:1.2em;
	color:#917f15;
}
.wthree_total{
	margin:2em 0;
}
.wthree_total h2{
	text-align: center;
    font-size: 1.8em;
    color: #212121;
    text-transform: capitalize;
	letter-spacing: 5px;
}
.wthree_total h2 span{
	font-size: 1.8em;
	vertical-align: middle;
    padding-left: 0.5em;
}
.wthree_total h2 span i{
	font-size:.3em;
}
.agileinfo_main_bottom_grid {
    position: relative;
    padding: 3em 2em 0;
    background: #fff;
    min-height: 405px;
}
.agileits_w3layouts_tab2 input[type="email"],.agileits_w3layouts_tab2 input[type="password"],.creditly-wrapper .form-control{
	display: block;
    width: 95%;
    padding: 15px 10px;
    font-size: 14px;
    color: #212121;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
	outline:none;
}
.agileits_w3layouts_tab2 input[type="email"]:focus,.agileits_w3layouts_tab2 input[type="password"]:focus,.creditly-wrapper .form-control:focus {
  border-color: #66afe9;
  outline: 0;
}
.security-code,.number{
	width:89% !important;
}
.agileits_w3layouts_tab2 input[type="submit"] {
    display: block;
    position: relative;
    padding: 10px 0px;
	width:30%;
    letter-spacing: 3px;
    background: #ef4a3b;
    font-size: 1.2em;
    color: #fff;
    border:1px solid #ef4a3b;
    outline: none;
    text-transform: capitalize;
	cursor:pointer;
}
.agileits_w3layouts_tab2 input[type="submit"]:hover{
	background: #fff;
    color: #212121;
	border: 1px solid #e7e7e7;
}
.w3_agileits_card_number_grid_left{
	float:left;
}
.w3_agileits_card_number_grid_left,.w3_agileits_card_number_grid_right{
	width:47%;
}
.w3_agileits_card_number_grid_right{
	float:right;
}
.agileits_w3layouts_tab2 h3 {
    font-size: 1em;
    color: #212121;
    margin: 1em 0 2em;
    text-transform: capitalize;
}
.agileits_w3layouts_tab2 h3 a{
	color:#ef4a3b;
	text-decoration:underline;
}
.agileits_w3layouts_tab2 h3 a:hover{
	color:#212121;
}
.agileits_label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #212121;
    font-size: 1em;
}
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.w3_agile_main_grids {
		width: 35%;
	}
	.w3_agileits_main_top_grid_right {
		margin-left: 7em;
	}
}
@media (max-width:1366px){
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 94.5%;
	}
}
@media (max-width: 1280px){
	.w3_agile_main_grids {
		width: 40%;
	}
}
@media (max-width: 1080px){
	.w3_agile_main_grids {
		width: 45%;
	}
}
@media (max-width: 1024px){
	.w3_agile_main_grids {
		width: 47%;
	}
}
@media (max-width: 991px){
	.wthree_total {
		margin: 2em 0 1em;
	}
	.security-code, .number {
		width: 88% !important;
	}
}
@media (max-width: 900px){
	.w3_agile_main_grids {
		width: 55%;
	}
}
@media (max-width: 800px){
	.main h1 {
		font-size: 2.7em;
		letter-spacing: 2px;
	}
	.w3_agile_main_grids {
		width: 60%;
	}
	.w3_agileits_main_top_grid_right {
		margin-left: 6em;
	}
}
@media (max-width: 768px){
	.wthree_total {
		margin: 2em 0 0;
	}
	.agileinfo_main_bottom_grid {
		padding: 3em 2em;
		min-height: auto;
	}
	.agileits_w3layouts_tab2 h3 {
		margin: 0em 0 2em;
	}
}
@media (max-width: 736px){
	.wthree_total h2 {
		font-size: 1.7em;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 94%;
	}
	.security-code, .number {
		width: 87.5% !important;
	}
}
@media (max-width: 667px){
	.main h1 {
		font-size: 2.2em;
	}
	.w3_agile_main_grids {
		width: 65%;
	}
}
@media (max-width: 640px){
	.wthree_total h2 {
		letter-spacing: 3px;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 93.5%;
	}
	.security-code, .number {
		width: 86.5% !important;
	}
}
@media (max-width: 600px){
	.wthree_total h2 {
		font-size: 1.5em;
	}
	.agileits_w3layouts_tab2 input[type="submit"] {
		width: 35%;
	}
	.agileits_w3layouts_tab2 h3 {
		font-size: 14px;
	}
	.w3_agileits_main_top_grid_right {
		margin-left: 4em;
	}
}
@media (max-width: 568px){
	.main h1 {
		font-size: 2em;
	}
	.wthree_total h2 {
		letter-spacing: 2px;
	}
	.security-code, .number {
		width: 84.5% !important;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 92.5%;
	}
}
@media (max-width: 480px){
	.main h1 {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	.w3_agile_main_grids {
		width: 75%;
	}
	.w3_agileits_card_number_grid_left, .w3_agileits_card_number_grid_right {
		float: none;
		width: 100%;
	}	
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 92.3% !important;
	}
	.agileits_label {
		font-size: .95em;
	}
}
@media (max-width: 414px){
	.main {
		padding: 2em 0;
	}
	.w3_agile_main_grids {
		width: 90%;
	}
	.agile_main_top_grid {
		padding: 2em;
	}
	.agileinfo_main_bottom_grid {
		padding: 1.5em;
	}
	.agileits_w3layouts_tab2 input[type="submit"] {
		width: 40%;
		font-size: 1em;
	}
	.agileits_w3layouts_tab2 h3 {
		margin: 1em 0 1.5em;
	}
}
@media (max-width: 384px){
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		width: 92% !important;
	}
}
@media (max-width: 320px){
	.main h1 {
		font-size: 1.4em;
		letter-spacing: 0px;
	}
	.agile_main_top_grid {
		padding: 1.5em;
	}
	.w3_agileits_main_top_grid_right h3 {
		font-size: 1em;
	}
	.w3_agileits_main_top_grid_right {
		margin-left: 0;
		float: right;
	}
	.wthree_total h2 {
		letter-spacing: 0px;
		font-size: 1.3em;
	}
	.wthree_total {
		margin: 1.5em 0 0;
	}
	.agileits_w3layouts_tab2 input[type="email"], .agileits_w3layouts_tab2 input[type="password"], .creditly-wrapper .form-control {
		padding: 10px;
		width: 90% !important;
	}
	.agileits_w3layouts_tab2 input[type="submit"] {
		width: 50%;
		font-size: .95em;
		padding: 8px 0;
	}
	.agileits_copyright p {
		font-size: 14px;
	}
}